In [4]:
#Imports
from pathlib import Path

In [6]:
#DATA
#Change the variable/object below to reflect your genre
Romance=[]

#Now we populate the object with strings
for p in Path(f"data/Romance").glob('*.txt'):
    with open(p, mode="r") as f:
        contents = f.read()
        Romance.append(contents)

len(Romance)

192

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

# Basic vectorizer: no tweaks to parameters
vectorizer = CountVectorizer()

# fit the model to the data
matrix = vectorizer.fit_transform(Romance)

# We'll need these later
vocabulary = vectorizer.get_feature_names_out()

# This will repeat our screenplay count
# but also report our overall vocabulary FOR ALL SCREENPLAYS
matrix.shape

(192, 56639)

In [ ]:
Rows
min_df = 1:56639
min_df = 2:31382
min_df = 3:24375
min_df = 4:20520
min_df = 5:17858

In [17]:
import pandas as pd
# Load up a dataframe with our DTM
df = pd.DataFrame(matrix.toarray(),
                  columns= vectorizer.get_feature_names_out())
# Check our work:
df.shape
df.head()

,00,000,00000,008,00am,00pm,01,01s,02,0200,...,zygomatic,zytusional,zzlip,zzr,zzzips,zzzoom,zzzzzmmmm,zzzzzttttt,zzzzztttttt,zzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# First we need to get the files names from the files
titles= []

for p in Path('data/Romance/').glob('*.txt'):
    with open(p, mode="r", encoding="utf-16") as f:
        title = p.name[:-4]
        titles.append(title)
# Check
print(titles[50:55])

['cruelintentions', 'cryinggame', 'curiouscaseofbenjaminbuttonthe', 'datenight', 'deception']